<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yusdi.mapper.CarouselMapper">
    <select id="carouselEntity" resultType="com.yousdi.entity.CarouselEntity">
        SELECT * FROM carouselEntity WHERE isShow = 1;
    </select>
    <select id="carouselById" resultType="com.yousdi.entity.CarouselEntity">
        SELECT * FROM carouselEntity WHERE id = #{id};
    </select>
    <insert id="addCarousel" parameterType="com.yousdi.entity.CarouselEntity">
        insert into carouselEntity(name, url, img, mbimg, sortID,updateTime, addTime) values (#{name}, #{url},#{img}, #{mbimg}, #{sortID}, #{updateTime}, #{addTime})
    </insert>
    <update id="updateCarousel" parameterType="com.yousdi.entity.CarouselEntity">
        update carouselEntity set name = #{name}, url = #{url}, img = #{img}, mbimg = #{mbimg}, sortID = #{sortID}, updateTime = #{updateTime} where id = #{id}
    </update>
    <update id="delCarousel" parameterType="Integer">
        update carouselEntity set isShow = 0 where id IN
        <foreach collection="ids" item="id" separator="," close=")" open="(">
           #{id}
        </foreach>
    </update>
</mapper>