<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yousdi.mapper.MessageMapper">
    <select id="message" resultType="com.yousdi.entity.MessageEntity">
        select * from message where isShow=1
        <if test="keyword != null">
               and (company like concat('%', #{keyword}, '%')
               or person like concat('%', #{keyword}, '%')
               or content like concat('%', #{keyword}, '%'))
        </if>
                 ORDER BY addTime desc
    </select>
    <insert id="addMessage" parameterType="com.yousdi.entity.MessageEntity">
        insert into message(company, person, phone, email, content, isShow, addTime)
        values(#{company},#{person}, #{phone}, #{email}, #{content}, #{isShow}, #{addTime})
    </insert>
    <update id="updateMessage" parameterType="com.yousdi.entity.MessageEntity">
        update message set isCall=#{isCall}, isShow=#{isShow} where id=#{id}
    </update>
</mapper>